pip
wheel
setuptools
numpy
pandas
notebook
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
matplotlib
seaborn
wordcloud
nltk
keras
tensorflow
scikit-learn
certifi
tqdm
torch
transformers
tensorflow
torchtext
